#container {
	line-height: 0px;
	width: 1000px;
	height: 500px;
}
.square {
	width: 30px;
	height: 30px;
	border: 2px solid orange;
	box-sizing: border-box;
	display: inline-block;
}
.row {
	margin: 0;
	display: block;
}